footer {
  padding: 1rem 0;
  background: #111;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer p {
  font-size: 1.25rem;
  color: #fff;
}
